<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/start.css">
    <!-- Imports icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- link dos icons "https://fontawesome.com/icons" -->
</head>
<body>
    <!-- Fundo animado -->
  <video autoplay loop muted id="background-video">
    <source src="../assets/videos/purple-cat-and-planets.1920x1080.mp4" type="video/mp4">
    Navegador não suporta video!
  </video>

  <div id="container">
    <section class="start-area">
        <div class="name-quiz">
            <h1>Dev Quiz ☝🤓</h1>
            <p>Será que consegue alcançar a pontuação maxima?</p>
        </div>
        <div class="start-button">
            <p>Teste seu conhecimento Dev!</p>
            <a href="index.html">Jogar</a>
        </div>
    </section>
  </div>
</body>
</html>