* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100dvw;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /* Coloca o video atrás de todos os elementos */
    object-fit: cover;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container section {
    width: 50%;
    height: 65%;
    
    background: linear-gradient(135deg ,#67eaa9e0,#0887b1e1); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.start-area {
    color: white;
}
.name-quiz {
    text-align: center;
}

.name-quiz h1 {
    font-size: 5rem;
    text-decoration: underline;
}

.name-quiz h1>i {
    background: linear-gradient(to top, #350A56, #ff1313);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

.name-quiz p {
    font-family: "JetBrains Mono",monospace;
    margin-top: 10px;
    margin-bottom: 20px;
}

.start-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.start-button p>i {
    font-size: 2em;
    padding: 10px 30px;
    background: linear-gradient(to top, #350A56, #ff1313);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

/* CSS */
.start-button a {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 20px;
  width: 300px;
}

.start-button a:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.start-button a:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.start-button a:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}